<% if @current_user %>
  <% if @current_user.role == "admin" %>
    <h1>Bienvenue administrateur <%= @current_user.login %> !</h1>
  <% else %>
    <h1>Bienvenue <%= @current_user.login %> !</h1>
  <% end %>
  <a href="/logout">Se déconnecter</a>
<% else %>
  <h1>Bienvenue visiteur anonyme !</h1>
  <a href="/login">S'identifier</a>
<% end %>

