
<div class="ui middle aligned center aligned grid">
 <div class="six wide column">
    <%= form_tag "/login", method: :post do %>
     <form>
        <div class="ui large form segment">
          <h4 class="ui dividing header"> Login </h4>
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="login" placeholder="login">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="password">
            </div>
          </div>
          <input class="ui fluid primary submit button" type="submit" value="Se connecter" />
        </div>
      </form>
    <% end %>
    <div class="ui form segment">
       Create account <a href="/users/new">Sign Up</a>
    </div>
  </div>
</div>

