<div class="ui stackable equal width grid">

  <div class="row"/>
    <p id="notice"><%= notice %></p>
  </div>

  <div class="row"/>
    <p id="notice"><%= notice %></p>
    <% if @current_user %>
      <%= link_to '<i class="icon square plus"></i> New route'.html_safe,
           new_route_path %>
    <% end %>
  </div>

  <div class="column"/>
   <!--%= render partial:"routes/list", locals:{current_user:@current_user} %-->
  </div>

  <div class="ui column">
    <%= render partial:"routes/map",
      locals:{current_user:@current_user,
              editable:"false"} %>
  </div>
</div>

